body {
    height: 1005;
    margin: 0;
    text-align: center;
    width:100%;
    
    
}

h1 {
    color:darkred;
    font-size: 35px;
    font-family: sans-serif;
    
}

h2 {
    font-size: 50px;     
}

p {
    font-size: 2rem;
    font-family: Verdana;
    
}

.hero {
    color: aliceblue;
    background-image: url(Silver-Thread.jpg);
    background-size: cover;
    font-family: sans-serif;
    padding: 250px;
margin: 25px;
text-align: center;
    
}

#footer {
    font-size: 0.76rem;
    font-family: Verdana;
    
}

.hero a {
    color:dimgray;
    font-size: 1.25em;
    text-decoration: none;

}